DATABASE_URL="postgresql://stablehedge:stablehedge@localhost:5432/stablehedge?schema=public"
PORT=3000
NODE_ENV=development
LOG_LEVEL=info

XRPL_NETWORK=testnet
XRPL_RPC_URL="wss://s.altnet.rippletest.net:51233"
XRPL_EXPLORER_BASE="https://testnet.xrpl.org"

TOKEN_CURRENCY_CODE=USD
TOKEN_DISPLAY_LABEL=RUSD-DEMO

ISSUER_SEED=
TREASURY_SEED=

WALLET_ENCRYPTION_KEY=

JWT_SECRET=change-me
